<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contato</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>Contate-nos</h1>
        <form action="/contato" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" required>
            <label for="assunto">Assunto:</label>
            <input type="text" name="assunto" id="assunto" required>
            <label for="mensagem">Mensagem:</label>
            <input type="text" name="mensagem" id="mensagem" required>
            <button type="submit">Enviar mensagem</button>
        </form>
        <a href="/">Cardápio</a>
    </body>
</html>
